/** Estilos HTML Generales */

body {
    background: #007bff;
    background: linear-gradient(to right, #ffffff, #33AEFF);
}
#sticky-footer {
    flex-shrink: none;
    background: #263238;
    color: white;
}
#sticky-footer2 {
    flex-shrink: none;
    background: #1e282d;
}
#navbar2 {
    background: #263238;
}
#footer-bar {
    background: linear-gradient(to right, #ffffff, #33AEFF);
}

/** Estilos de botones */

.buton-icons { 
    display: inline-block;
    border-radius: 100px;
    box-shadow: 10px 10px 5px #888;
    background: rgb(9, 110, 171);
    font-size: 20px;
    height: 140px;   
    width: 140px;
    margin-left: 0.3em;
    margin-top: 0.3em;
}
.edit-icons { 
    display: inline-block;
    border-radius: 100px;
    box-shadow: 5px 5px 5px #888;
    padding: 0.5em 0.6em;
    font-size: 20px;
    height: 48px;   
    width: 48px;
    margin-left: 0.3em;
    margin-top: 0.3em;
}
.print-icons { 
    display: inline-block;
    border-radius: 100px;
    box-shadow: 3px 3px 5px #888;
    background: rgb(9, 110, 171);
    font-size: 48px;
    height: 100px;   
    width: 100px;
    color:white
}

/** Estilos de tablas */

td {
    text-align: center;
}
th {
    text-align: center;
}

/* Estilos para multiselect */

.multiselect {margin: 25px auto;}
.multiselect__option--highlight, .multiselect__option--highlight:after {background: #2CA8FF;}
.multiselect__spinner:after,
.multiselect__spinner:before {border-top-color: #2CA8FF;}
.multiselect__tag {background-color: #F76231;}
.multiselect__tag-icon::after {color: #fff;}
.multiselect__tag-icon:focus,.multiselect__tag-icon:hover {background: #F44b18;}